*{
  margin: 0;
}
:root{
  --color-dark: #192A56;
  --color-dark2: #0A3D62;
  --color-light: #EAF0F1;
}
/* Header */
.header{
  min-height: 5vh;
  display: flex;
  background-color: var(--color-dark);
  color: var(--color-light);
}
.header-title{
  margin: 0 3em 0 0;
}
.header-nav-ul{
  list-style: none;
  display: flex;
}
.nav-link{
  color: var(--color-light);
  text-decoration: none;
  margin-right: 1em;
}
/* calculator */
.calc-button{
  width: auto;
}
.header-cal{
  position: fixed;
  right: 5px;
  top: 5vh;
}
@media (min-width: 800px){  
  .small-calc{
    display: none;
    z-index: 10;
  }
}
@media (max-width: 800px){  
  .big-calc{
    display: none;
    z-index: 10;
  }
}

/* Main */
.main{
  min-height: 90vh;
}
/* Footer */
.footer{
  text-align: center;
  min-height: 5vh;
  background-color: var(--color-dark2);
  color: var(--color-light);
}
.test{
  background: red;
}
.errorMessage{
  color: red;
}
.successMessage{
  color: green;
}